body {
  width: 100%;
  height: 100%;
	font-family: sans-serif;
}

.Container {
  display: grid;
  padding: 1em;
  grid-gap: .5em;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 90vh;
  background-color: #e0e0e0;
}

.Pane {
  padding: 1em;
  overflow-y: auto;
  max-height: 90vh;
	background-color: #f9f9f9;
	border-radius: 4px;
}

h2 {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}

ul {
  padding: 0;
  list-style-type: none;
	margin-top: 1em;
}

li {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
	border-radius: 4px;
  background-color: white;
}

li:first-child {
  margin-top: 0;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	align-items: center;
	padding: 6px;
	height: 30px;
	background: #333333;
	color: white;
}

.nav-buttons {
	font-size: 1em;
	padding: 0.5em;
	border-radius: 1em;
	border-width: 0;
	font-family: sans-serif;
}

.nav-button {
	align-items: center;
	background-color: transparent;
	border-color: transparent;
	border-radius: 4px;
	border: none;
	color: white;
	cursor: pointer;

	display: inline-block;
	-webkit-appearance: none;

	margin: 0.1em 0.2em;
	padding: 0.2em;
	font-size: inherit;

	text-align: center;
	text-decoration: none;

	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.btn-ex {
  background-color: grey;
}

.btn-save {
	background-color: blue;
}

.btn-load {
	background-color: green;
}

.btn-clear {
	background-color: red;
}

input[type="file"] {
	display: none;
}

.rule-field {
	display: flex;
	flex-direction: column;
	margin-top: 0.3em;
}

p {
	text-align: justify;
}
